---
import { marked } from 'marked';
import MainLayout from '../../layouts/Layout.astro';
import { getTextContent, getMDContent } from '../../utils/loadText.ts';

const content = await getMDContent("param_txt_kicad.md", "OpenSource_Articles");
const content_html = marked(content);
---

<MainLayout>
  <div class="row">
      <div class="rounded-box service-box"  style="max-width: 1000px; margin: auto;align-items: center; text-align: center;">
          <h1>Parameterized Text in KiCad</h1>
          <img src="/images/OpenSource_Articles/param_txt_kicad/param_txt_kicad_ico.PNG" alt="Parameterized Text in KiCad" style="width: 20%; height: auto; align: center; display: block; margin: auto; border-radius: 10px;">
    </div>
  </div>
  <div class="row">
    <div class="rounded-box service-box"  style="max-width: 1000px; margin: auto;">
    <div set:html={content_html} class="markdown-content"></div>
  </div>
</div>

