---
import Nav from "../components/Nav.astro";
import Carousel from '../components/Carousel.astro';
//import Nav from "./components/Nav";
import MainLayout from "../layouts/Layout.astro"
import { getMDContent } from "../utils/loadText.ts";
import { marked } from "marked";


const intro = await getMDContent("intro.md", "home");
const intro_html = marked(intro); // Convert Markdown to HTML

const imagePath = ["/images/home_about/home_placeholder.png"]; // Image for this page

const AboutContent = await getMDContent("AboutUs.md", "home"); // Load text content
const About_html = marked(AboutContent); // Convert Markdown to HTML
const about_imagePath = ["/images/home_about/about_placeholder.png"]; // Image for this page

const whyChooseUsContent = await getMDContent("whychooseus.md", "home"); // Load text content
const whyChooseUs_html = marked(whyChooseUsContent); // Convert Markdown to HTML
const why_imagePath = ["/images/home_about/why_choose_us.png"]; // Image for this page


---


<MainLayout>
    
    <body>
        <div class="row">
            <div class="rounded-box service-box">
                <h1>Engineering innovation from concept to creation</h1> <!-- Displays text from headline.txt -->
                <div set:html={intro_html} class="markdown-content"></div>
                <a href="mailto:info@dd-solve.com" class="mail-button">
                    Contact Us
                </a>
            </div>
            <Carousel images={[imagePath]} id="carousel-home" />
        </div>
        <div class="row">
            <div class="rounded-box service-box">
                <h1>About D+D</h1>
                <div set:html={About_html} class="markdown-content"></div>
            </div>
         <Carousel images={[about_imagePath]} id="carousel-home" />
        </div>
        <div class="row">
            <div class="rounded-box service-box">
                <h1>Why choose us</h1>
                <div set:html={whyChooseUs_html} class="markdown-content"></div>
                <a href="mailto:info@dd-solve.com" class="mail-button">
        Contact Us
        </a>
            </div>
         <Carousel images={[why_imagePath]} id="carousel-home" />
         
        </div>
        
    </body>
</MainLayout>

